<!DOCTYPE>
<html>
<head>
  <title>todo</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- <link rel="stylesheet" type="text/css" href="index.css"> -->
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
body{
    background-color: cornsilk;
}
.wrap{
  font-size: 16px;
  font-family:fantasy;
  letter-spacing: 1.0;
  padding: 40px 20px;
}
input:hover {
    background-color: blanchedalmond;
}
.list{
padding: 10px 5px;
background-color: #000099;
text-align: center;
border: 1px solid #E65100;
margin-top: 30px;
height: auto;
}
.list h3{
  color: #ffcc00;
}
.card-block{
  margin: auto;
  background-color: #FFC107;
  text-align: center;
  border: 1px solid #E65100;
}
.form{
  padding-top: 20px;
}
</style>
<script>
function validateForm() {
    var x = document.forms["myForm"]["article[title]"].value;
    if (x == "") {
        alert("Enter the Todo");
        return false;
    }
}
function validatemessage() {
  var message = "List is deleted sucessfully";
  alert (message);
}
</script>
</head>
<body>

  <h1 style="text-align:center;color: darkgray;
    font-family: monospace;"><MARQUEE >TODO LIST</MARQUEE></h1>
  <div class="wrap">
     <div class="container">
      <%= yield %>
      </div>
  </div>
</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
