<!-- <form action="/tdo" method="post" accept-charset="utf-8">
	<p>Title: <input type="text" name="article[title]" value="" id="article[title]" /></p>
	<p><input type="submit" value="Add list" /></p>
</form> -->
